.pyc
bin
include
lib
lib64
pyvenv.cfg
share
pip-selfcheck.json
.idea/
docker-compose*/mysql_data/
__pycache__
.vscode/
dist/bundle/
node_modules/
migrations/
uwsgi.log
uwsgi.pid
.venv/
v8-compile-cache-0/
