html {
  font-family: 'Roboto', 'Meiryo UI', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  background-color: aquamarine;
}

ul li {
  list-style: none;
}
label {
  margin-right: 10px;
  width: 80px;
  float: left;
}

ul {
  width: 500px;
  margin: 0 auto;
}

div {

}

div.task-list-base {
  background-color: rgb(128, 128, 128);
  font-size: 14px !important;
  margin: 10px;
  border-radius: 10px;
}

div.task-group-base {
  background-color: rgb(233, 231, 238);
  font-size: 14px !important;
  margin: 10px;
  border-radius: 10px;
}

div.task-base {
  background-color: rgb(255, 255, 255);
  font-size: 14px !important;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
