html {
  font-family: 'Roboto', 'Meiryo UI', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  background-color: aquamarine;
}

/* デフォルト書式キャンセル */
input{
  border:solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 3px;
  background-color: cornsilk;
}

textarea{
  display: block;
}

ul li {
  list-style: none;
}
label {
  margin-right: 10px;
  width: 80px;
  float: left;
}

ul {
  width: 500px;
  margin: 0 auto;
}

div.task-list-base {
  background-color: rgb(128, 128, 128);
  font-size: 14px !important;
  margin: 10px;
  border-radius: 10px;
  padding: 1px;
}

div.task-adding-part {
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 247, 133);
  font-size: 14px !important;
  margin: 10px;
  padding: 5px 10px;
}

div.task-adding-part textarea {
  border: none;
  width: 100%;
  margin: 0 auto;
  background: none;
}

div.task-group-base {
  background-color: rgb(233, 231, 238);
  font-size: 14px !important;
  margin: 10px;
  border-radius: 10px;
}

div.task-base {
  background-color: rgb(255, 255, 255);
  font-size: 14px !important;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

div.task-dialog input {
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  width: 300px;
}

div.task-dialog textarea{
  border:solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
  width: 95%;
  margin: 0 auto;
}

.dialog-close{
  color: dimgray;
  display: block;
  margin-left: auto;
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  position: relative;
}
.dialog-close:hover{
  transition: all .3s ease;
  color: black;
}

/*
.dialog-close:after{
  position: absolute;
  left: -0.2em;
  top: -0.2em;
  width: 0.8em;
  height: 0.8em;
  background: rgba(0, 0, 0, 0.3);

  border-radius: 50%;
  border-color: #aaa;
  background-color: #aaa;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-around;

  opacity: 0;
  transition: all .5s ease;

  content: "";
}
.dialog-close:hover:after{
  opacity: 0.5;
}
*/